<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>{{ title }}</title>

<link href="assets/img/favicons/favicon.ico" rel="shortcut icon">

<!--build:css assets/css/app.min.css-->
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/font-awesome.min.css" rel="stylesheet">
<link href="assets/fonts/fontello/css/fontello.css" rel="stylesheet">
<link href="assets/css/animate.min.css" rel="stylesheet">
<link href="assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="assets/css/app.css" rel="stylesheet">
<!--endbuild-->

<!--build:js assets/js/jquery.min.js-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-migrate.min.js"></script>
<!--endbuild-->

    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->